Repository nanoframework/System.Net.Http, pull requests merged in 2025-03, with the labels that each got.

#439 Fix and Enhance Uri and HttpContent
  Tests/HttpUnitTests/ByteArrayContentTest.cs
  Tests/HttpUnitTests/HttpContentTest.cs
  Tests/HttpUnitTests/HttpUtilityTest.cs
  Tests/HttpUnitTests/MediaTypeHeaderValueTest.cs
  Tests/HttpUnitTests/StreamContentTest.cs
  Tests/HttpUnitTests/StringContentTest.cs
  Tests/HttpUnitTests/UriUnitTests.cs
  nanoFramework.System.Net.Http.Client/System.Net.Http.Client.nfproj
  nanoFramework.System.Net.Http/Http/Headers/HttpContentHeaders.cs
  nanoFramework.System.Net.Http/Http/HttpContent.cs
  nanoFramework.System.Net.Http/Http/ReadOnlyStream.cs
  nanoFramework.System.Net.Http/Http/StreamContent.cs
  nanoFramework.System.Net.Http/Http/System.Net.HttpUtility.cs
  nanoFramework.System.Net.Http/Http/System.Uri.cs
  nanoFramework.System.Net.Http/System.Net.Http.nfproj
Labels: Type: bug, Type: enhancement, Type: Unit Tests

#472 Fixing Uri when a relative uri is added to an absolute one and the separator is missing
  Tests/HttpUnitTests/UriUnitTests.cs
  nanoFramework.System.Net.Http/Http/System.Uri.cs
Labels: Type: bug, Type: Unit Tests

#473 Update System.Net.HttpWebRequest.cs
  nanoFramework.System.Net.Http/Http/System.Net.HttpWebRequest.cs
Labels: Type: bug
